@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);

body, html{
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #0082BF;
}

h1{
	text-transform: uppercase;
}
h1 strong{
	font-weight: 900;
}
h2{
	text-transform: uppercase;
	line-height: 20px;
	margin:  0;
}
h3{
font-size: 18px;
font-weight: 900;
color: #0082BF;
}
h4{
	text-transform: uppercase;
	color: #0082BF;
}
h5{
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p{
	font-family: 'Open Sans', sans-serif;
	color: #0082BF;
}
p.intro{
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}
a{ color: #0082BF;}
a:hover,
a:focus{
	text-decoration: none;
	color: #0082BF;
}

.section-title hr{
	border-color: #0082BF;
	border-width: 4px;
	width: 60px;
	float: left;
	clear: both;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
ul, ol{
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}

.btn_resume {
  background: white;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 6px;
  border-color:#0082BF; 
  color:#0082BF;
  /*box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);*/
}
.btn_resume:hover {
  background: #0082BF;
  border-color:white;
color: white;
  text-decoration: none;
}
.btn_resume:focus {
	text-decoration: none;
	color: #292828;
}

.btn_map {
  background: url(../img/main/go_to_map.png);
	text-decoration: none;
}
.btn_map:hover {
  background: url(../img/main/go_to_map_hover.png)
}
.btn_map:focus {
  background: url(../img/main/go_to_map.png);
	text-decoration: none;
}

.content{
	position: relative;
	padding: 20% 0 0;
	height: 900px
}

.color{
	color: #0082BF;
}

.round_img {
	border-radius: 50%;
}
